.entry {
  padding: 40px;
}

.entry__row {
  display: flex;
  margin-bottom: 20px;
  align-items: flex-start;
  line-height: 26px;
  color: #2e2e2e;
  font-size: 14px;
  font-weight: 700;
}
.entry__row-label {
  width: 160px;
}
.entry__row-input {
  height: 26px;
  border-radius: 2px;
  border: 1px solid #c6c6c6;
  padding: 0 6px;
  flex-grow: 20;
}
.entry__button-holder {
  display: flex;
  justify-content: flex-end;
}
.entry__button {
  height: 30px;
  border-radius: 2px;
  border: 1px solid #b6b6b6;
  padding: 0 20px;
  background: linear-gradient(to bottom, #e2e2e2 0%, #d1d1d1 100%);
  line-height: 30px;

  color: #383838;
  text-align: center;
  font-weight: 700;
  cursor: pointer;

  margin-left: 20px;
}

.entry__button_danger {
  background: linear-gradient(to bottom, #e20b0c 0%, #d12253 100%);
  color: white;
}
.entry__button:hover {
  box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.4);
}

@media screen and (max-width: 580px) {
  .entry {
    padding: 10px;
  }

  .entry__row {
    flex-direction: column;
  }
  .entry__row-label {
    width: 100%;
  }
  .entry__row-input {
    width: 100%;
  }
}
