.address-book-header {
  background: rgb(236,236,236);
  background: linear-gradient(to bottom, rgba(236,236,236,1) 1%,rgba(205,205,205,1) 100%);
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-bottom: 1px solid #bcbcbc;
  padding: 0 10px;
}

.address-book-header__title {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 300;
  color: #6c6c6c;
  font-size: 20px;
  text-align: center;
  text-shadow: 1px 1px 0 white;
}

.address-book-header__add-button {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: #6c6c6c;
  font-size: 20px;
  text-align: center;
  width: 26px;
  height: 20px;
  border: 1px solid #c2c2c2;
  border-radius: 2px;
  line-height: 18px;
  position: absolute;
  right: 20px;
  top: 50%;
  margin-top: -10px;
  padding: 0;
  background: white;
}

@media screen and (max-width: 768px) {
  .address-book-header {
    justify-content: flex-start;
  }
  .address-book-header__title {
    font-size: 16px;
    text-align: left;
  }
}
