.address-book {
  display: flex;
  align-items: stretch;
  height: 100vh;
  overflow: hidden;
  --left-column-width: 300px;
}
.address-book__left {
  width: var(--left-column-width);
  padding-right: 6px;
  position: relative;
  overflow: hidden;
}
.address-book__left:after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 4px;
  border: 1px solid #b6b6b6;
  border-style: none solid;
  background: linear-gradient(to right, #eeeeee 1%, #dbdbdb 100%);
}
.address-book__right {
  width: calc(100% - var(--left-column-width));
}

.address-book__contact-filter {
  margin: 10px 6px;
}

.address-book__contact-list {
  margin-top: 10px;
  overflow-y: auto;
  overflow-x: hidden;
  flex-grow: 2;
  max-height: calc(100% - 36px - 46px);
}

@media screen and (max-width: 768px) {
  .address-book {
    --left-column-width: 200px;
  }
}

@media screen and (max-width: 580px) {
  .address-book {
    flex-direction: column;
  }
  .address-book__left {
    width: 100%;
    height: 50%;
    padding-right: 0;
  }
  .address-book__left:after {
    width: 100%;
    height: 4px;
    border-style: solid none;
    bottom: 0;
    left: 0;
    right: 0;
    top: auto;
  }
  .address-book__right {
    width: 100%;
    height: 50%;
    overflow-y: auto;
  }
}
