.contact-filter {

}
.contact-filter__input {
  width: 100%;
  height: 26px;
  border-radius: 13px;
  border: 1px solid #cacaca;
  font-size: 14px;
  color: #4a4a4a;
  box-shadow: none;
  -webkit-appearance: none;
  padding: 0 10px;
}
