.contact-list {

}
.contact-list__item {
  display: block;
  width: 100%;
  border: none;
  text-align: left;
  background: white;
  color: black;
  height: 26px;
  padding: 0 6px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  line-height: 26px;

  font-size: 14px;
  cursor: pointer;
}
.contact-list__item:active {
  outline: 1px dotted #dddddd;
}
.contact-list__item:not(.contact-list__item_active):hover {
  background: #cccccc;
}
.contact-list__item_active {
  background: linear-gradient(to bottom, #77abe1 0%, #578cc4 100%);
  color: white;
  text-shadow: 1px 1px 0 #5587ba;
}
